html {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Klima', Helvetica, sans-serif;
  font-size: $type-size-base;
  margin: 0;
  padding: 0;

}

header,
main,
footer,
section,
article {
  clear: both;
  display: block;
}

p {
  margin: 0;
}

a {
  color: $color-red;
  font-weight: bold;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $type-size-big;
  line-height: $type-leading-big;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
object {
  border: 0;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}
