.callout {
  font-size: $type-size-big;
  line-height: $type-leading-big;
  margin: 4rem 0;
}

.main-content {
  background: $color-gray-light;
  padding: 4rem 60px 2rem;
}

.cta-container {
  display: flex;
  flex-flow: wrap;
  margin: 0 -10px -2rem;
}

.cta-card {
  background: $color-white;
  border: 1px solid $color-gray;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1 0 48%;
  margin: 0 10px;
  min-height: 175px;
  padding: 2.5rem;
  vertical-align: top;
}

.cta-card--headline,
.cta-card--content {
  margin-bottom: 1rem;
}

.newsletter-subscribe {
  position: relative;
}

.newsletter-subscribe--input {
  width: 95%;
}

.newsletter-subscribe--button {
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  top: 0;
}

