.formWorkWithUs {
  margin-left: auto;
  margin-right: auto;

  &_isDuesPayingGroup {
    margin: 2em 0;
  }

  .button {
    width: 100%;
  }
}



// ##################################################################
// ####### Media Queries ############################################
// ##################################################################

// =====================
// = TABLET and larger =
// =====================
@media screen and (min-width: $breakpointTablet) {

.formWorkWithUs {
  width: 35ex;
}

} // /TABLET and larger


