@font-face {
  font-family: 'Klima';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/klima-regular-web.eot');
  src: url('../assets/fonts/klima-regular-web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/klima-regular-web.woff2') format('woff2'), url('../assets/fonts/klima-regular-web.woff') format('woff');
}

@font-face {
  font-family: 'Klima';
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/klima-regular-italic-web.eot');
  src: url('../assets/fonts/klima-regular-italic-web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/klima-regular-italic-web.woff2') format('woff2'), url('../assets/fonts/klima-regular-italic-web.woff') format('woff');
}

@font-face {
  font-family: 'Klima';
  font-stretch: normal;
  font-style: bold;
  font-weight: 800;
  src: url('../assets/fonts/klima-bold-web.eot');
  src: url('../assets/fonts/klima-bold-web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/klima-bold-web.woff2') format('woff2'), url('../assets/fonts/klima-bold-web.woff') format('woff');
}

@font-face {
  font-family: 'Klima';
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/klima-bold-italic-web.eot');
  src: url('../assets/fonts/klima-bold-italic-web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/klima-bold-italic-web.woff2') format('woff2'), url('../assets/fonts/klima-bold-italic-web.woff') format('woff');
}
