// Screen Sizes

// Joel says: I tried it this way and my brain didn't like it. I'm
// instead just putting media queries at the bottom of the various
// .scss files.
//
// @mixin mobile {
//   @media screen and (min-width: $breakpoint-mobile) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (min-width: $breakpointTablet) {
//     @content;
//   }
// }

// @mixin laptop {
//   @media screen and (min-width: $breakpointLaptop) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media screen and (min-width: $breakpoint-desktop) {
//     @content;
//   }
// }

// Set base font size for areas of the page that one could concider
// a self-contained module
@mixin baseModuleFontSize() {
  font-size: 1rem;
}

@mixin preventMarginCollapse {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: -1px;
  margin-bottom: -1px;
}

// // Clear a float fix (from H5BP)
// @mixin clearfix {
//   &:before,
//   &:after {
//     content: " ";
//     display: table;
//   }

//   &:after {
//     clear: both;
//   }

//   & {
//     *zoom: 1;
//   }
// }


// Image replacement
// Swap out text for an image as background. See related .ir styles in src/shared/global.scss

@mixin backgroundImageFillSize($width, $height, $imagePath: null) {
  // Doesn't set bg image if none is supplied
  @if $imagePath {
    background-image: url($imagePath);
  }

  background-size: $width $height;
}

@mixin backgroundImageBlock($width, $height, $imagePath: null) {
  width: $width;
  height: $height;

  @include backgroundImageFillSize($width, $height, $imagePath);
}

@mixin backgroundImageReplacementBlock($width, $height, $imagePath) {
  @extend .ir;

  display: block;

  @include backgroundImageBlock($width, $height, $imagePath);
}
