// Screen Sizes

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $breakpoint-desktop) {
    @content;
  }
}

// Decorators

@mixin icon {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
  width: 20px;
}
