// Colors
$colorGrayLight: #f1f1f1;
$colorGray:      #909090;
$colorGreen:     #00a430;
$colorRed:       #f30000;
$colorRedDark:   #D70000;
$colorWhite:     #fff;

// Screen Sizes
$breakpointTablet: 768px;
$breakpointLaptop: 1100px;
// $breakpointDesktop: 1500px;

// Block stuff
$commonBlockSpacing: 1rem;
$borderStyle1: 1px solid $colorGray;
$borderRadius1: 5px;

// Main logo
$logoWidth: 76px;
$logoHeight: 72px;

// Klima font has funky baseline stuff going on. Have to do a padding hack :(
$klimaFontHack: 0.75em;
